<%- include('partials/header'); -%>

<div>
  <form action="/api/removeCow">
    <label for="ID">Cow ID:</label>

    <input type="number" id="ID" name="id of the cow"
           value=0>
  
    <button>Delete Cow</button>
  </form>
</div>


<%- include('partials/footer'); -%>

<script>
  const form= document.querySelector('form');
  const ID = document.querySelector('#ID');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const Id={
      "elementID":parseInt(ID.value)
    }
    console.log(Id)
    try {
      const res = await fetch('/api/removeCow', { 
        method: 'POST', 
        body: JSON.stringify(Id),
        headers: {'Content-Type': 'application/json'}
      });
      location.assign('/cowsPage');
    }
      catch (err) {
      console.log(err);
    }

  });
</script>