<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/cow.png" alt="">
  </div>
  <div class="headings">
    <h2>BAKARATI 	&#x1F33E;</h2>
    <h3>Your Farm management system</h3>
    <a href="/cowsPage" class="btn">View Cows</a>
    <a href="/birthPage" class="btn">View Births</a>
    <a href="/milkPage" class="btn">View Milk</a>
    <a href="/diagPage" class="btn">View Diagnosis</a>
  </div>
</header>


<%- include('partials/footer'); -%>