<%- include('partials/header'); -%>

<div>
  <form action="/api/modifyDiag">
    <label for="ID">Diagnosis ID:</label>

    <input type="number" id="ID" name="id of the cow"
           value=0>
    <label for="date">New Date:</label>

    <input type="date" id="date" name="date-of-addition"
                  value="2023-01-30"
                  min="2018-01-01" max="2023-12-31">
       
           <label for="Breed">New disease:</label>
           <input type="text" id="disease" name="id of the cow"
           value="new disease">
    <button>Modify Diagnosis</button>

  </form>
</div>


<%- include('partials/footer'); -%>

<script>
  const form= document.querySelector('form');
  const ID = document.querySelector('#ID');
  const date = document.querySelector('#date');
  const disease=document.querySelector('#disease');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const Id={
      "elementID":parseInt(ID.value),
      "date":date.value,
      "disease":disease.value
    }
    console.log(Id)
    try {
      const res = await fetch('/api/modifyDiag', { 
        method: 'POST', 
        body: JSON.stringify(Id),
        headers: {'Content-Type': 'application/json'}
      });
      location.assign('/diagPage');
    }
      catch (err) {
      console.log(err);
    }

  });
</script>